<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold" style="color: #5865F2;">Bills PESHOP</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table align-items-center table-flush" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID NO.</th>
                            <th>Vouchers</th>
                            <th>Date</th>
                            <th>Total Bill</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID NO.</th>
                            <th>Vouchers</th>
                            <th>Date</th>
                            <th>Total Bill</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {{#each listBills}}

                        <tr>

                            {{! name product }}
                            <th scope="row">
                                <div class="media align-items-center">
                                    <a href="#" class="avatar rounded-circle mr-3">
                                        <img alt="Image placeholder"
                                            src="http://pes.store/images/fa94a4ca-0771-449c-b7c4-bbf7efcaef50.png" />
                                    </a>
                                    <div class="media-body">
                                        <span class="mb-0 text-sm">{{this._id}}</span>
                                    </div>
                                </div>
                            </th>
                            <td>
                                {{length this.vouchers }}
                            </td>
                            <td>
                                {{this.date }}

                            </td>
                            <td>
                                {{priceSale this.amount 0}}
                            </td>
                            <td>
                                {{{renderStatusBill this.status}}}
                            </td>

                            <td class="text-right">
                                <div class="dropdown">
                                    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                        <a class="dropdown-item" href="/bill/details/{{this._id}}">Detail</a>
                                        <a class="dropdown-item" style="color: red;" href="#">Block</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </a>
                        {{/each}}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
{{!-- <div class="avatar-group">
    {{#each this.images}}
    <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
        <img alt="Image placeholder" src={{this}} class="rounded-circle" />
    </a>
    {{/each}}
</div> --}}

{{!-- <tr>
    <td style="display:none;">{{this._id}}</td>
    <td>
        <div class="media align-items-center">
            <a href="#" class="avatar rounded-circle mr-3">
                <img alt="Image placeholder"
                    src="https://raw.githack.com/creativetimofficial/argon-dashboard/gh-pages/assets-old/img/theme/bootstrap.jpg" />
            </a>
            <div class="media-body ">
                <span class="mb-0 text-sm text-dark">{{this.name}}</span>
            </div>
        </div>
    </td>

    <td class="d-flex justify-content-center align-items-center">


        <span class="mb-0 text-sm text-dark ">{{this.genre}}</span>
        </div>

    </td>
    <td>22</td>
    <td>2</td>
    <td>2</td>
</tr> --}}