{{#if checkStatus}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Successfully!</strong> Bill ID NO.{{bill._id}} was updated.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{else}}

<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Error!</strong> Try again!! Contact with admin to fix error if still error in second.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}






<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold" style="color: #5865F2;">Bills PESHOP</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table align-items-center table-flush" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID NO.</th>
                            <th>Vouchers</th>
                            <th>Date</th>
                            <th>Total Bill</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID NO.</th>
                            <th>Vouchers</th>
                            <th>Date</th>
                            <th>Total Bill</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                       

                        <tr>

                            {{! name product }}
                            <th scope="row">
                                <div class="media align-items-center">
                                    <a href="#" class="avatar rounded-circle mr-3">
                                        <img alt="Image placeholder"
                                            src="http://pes.store/images/fa94a4ca-0771-449c-b7c4-bbf7efcaef50.png" />
                                    </a>
                                    <div class="media-body">
                                        <span class="mb-0 text-sm">{{bill._id}}</span>
                                    </div>
                                </div>
                            </th>
                            <td>
                                {{length bill.vouchers }}
                            </td>
                            <td>
                                {{bill.date }}

                            </td>
                            <td>
                                {{priceSale bill.amount 0}}
                            </td>
                            <td>
                                {{{renderStatusBill bill.status}}}
                            </td>

                        </tr>
                        </a>
                       

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>


